// Footer
.pie {
    grid-area: footer;
    background-color: $colorPrincipal;
    color: $colorFondo;
    font-family: $tipoFuentePrincipal;

    .redes {
        border-right: none;
        border-left: none;
        border-top: 0.15rem solid $colorFondo;
        border-bottom: none;
        height: auto;
        width: 95%;
        padding: 2.5rem 0 2.5rem 0;

        i {
            color: $colorFondo;
            font-size: 1.8rem;
        }
    }

    .navFooter {
        height: auto;
        padding: 2.5rem 0 2.5rem 0;

        a {
            display: inline-block;
            color: $colorFondo;
            font-family: $tipoFuenteSubtitulos;
            font-weight: 700;
            font-size: 1.7rem;
            text-transform: uppercase;
            text-decoration: none;
            margin-bottom: 0.5rem;
            padding: 0.25rem 0 0.25rem 0;
            &:hover {
                color: $colorHover;
            }
        }
        .activo {
            color: $colorHover;
        }
    }
    
    .copyright {
        border-left: none;
        border-right: none;
        border-top: 0.15rem solid $colorFondo;
        border-bottom: none;
        height: auto;
        width: 95%;
        padding: 2.5rem 0 1rem 0;
    }
}