h1 {
  font-family: "Roboto Serif", serif;
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
  font-size: 4rem;
  font-weight: 800;
  position: absolute;
  z-index: 1;
  text-align: center;
}

h2 {
  display: inline-block;
  position: relative;
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 2.1rem;
  font-weight: 700;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

.tituloDecoracion {
  width: 65%;
  height: auto;
  margin: 0 auto;
}

.contenedorGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 40rem auto auto;
      grid-template-rows: 40rem auto auto;
      grid-template-areas: "head head" "main   main" "footer footer";
}

.botonContacto, .botonTienda, .botonBuscador, .botonArriba {
  background-color: #ffffff;
  width: 13rem;
  height: 4rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: 0.2rem solid #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  color: #000000;
}

.botonContacto:hover, .botonTienda:hover, .botonBuscador:hover, .botonArriba:hover {
  background: #000000;
  color: #ffffff;
}

.botonTienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
  border-radius: 0;
}

.botonTienda:hover {
  background: #000000;
  color: #ffffff;
}

.botonTienda i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-right: 1rem;
}

.botonBuscador {
  width: 4rem;
  font-size: 1.5rem;
  background-color: #ffffff;
  color: #a67453;
  border: 0.2rem solid #a67453 !important;
}

.botonBuscador i {
  font-size: 1.5rem;
}

.botonBuscador:hover {
  background-color: #a67453;
  color: #ffffff;
}

.botonArriba {
  height: 4rem;
  width: 4rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.botonArriba i {
  color: #000000;
  font-size: 2.5rem;
  text-align: center;
}

.botonArriba:hover {
  background-color: #000000;
}

.botonArriba:hover i {
  color: #ffffff;
}

.headerIndex {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.headerIndex .contenedorH1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerIndex .contenedorH1 h1 {
  top: 20rem;
}

.headerPaginas {
  background-position: center;
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
}

.headerPaginas .contenedorH1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerPaginas .contenedorH1 h1 {
  top: 33rem;
}

.headerPaginasFaqs {
  background-position: center;
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
}

.headerPaginasFaqs .contenedorH1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerPaginasFaqs .contenedorH1 h1 {
  top: 28rem;
}

.navbar {
  background-color: #000000;
  opacity: 80%;
  color: #ffffff;
}

.navbar .navbar-toggler {
  color: white;
  border-color: white;
  margin-right: 1.5rem;
  width: 4.5rem;
  height: 4.5rem;
}

.navbar .navbar-toggler .fa-bars {
  color: #ffffff;
  -webkit-transform: scale(7);
          transform: scale(7);
  margin-top: 0.5rem;
}

.navbar .nav-link {
  color: #ffffff !important;
  font-family: "Oswald", sans-serif;
  font-size: 1.9rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.buscador {
  width: 100%;
  background-color: #000000;
  opacity: 80%;
}

.buscador .buscador__input {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 1.35rem;
  background-color: #ffffff;
  padding-left: 0.4rem;
  padding-right: 0.4rem !important;
  margin-right: 0.3rem !important;
}

.cuerpoNosotros {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 80%;
  margin: 0 auto;
}

.nosotros .nosotros__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem;
}

.nosotros .nosotros__info .informacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 0 2.5rem;
}

.nosotros .nosotros__info .informacion h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 2.5rem;
}

.nosotros .nosotros__info .informacion p {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  line-height: 120%;
}

.nosotros .nosotros__info .imagen {
  width: 50%;
  height: 100%;
  border-radius: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  overflow: hidden;
}

.ordenUno {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.ordenDos {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.satisfaccionClientes {
  background-color: #f7e4e4;
  width: 100%;
  height: auto;
  padding: 5rem 0;
  margin-top: 7rem;
  border-radius: 0.5rem;
}

.satisfaccionClientes .satisfaccionClientes__clientesFelices {
  text-align: center;
}

.satisfaccionClientes .satisfaccionClientes__opiniones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.satisfaccionClientes .satisfaccionClientes__opiniones .opinion {
  width: 40rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.satisfaccionClientes .satisfaccionClientes__opiniones .opinion img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.satisfaccionClientes .satisfaccionClientes__opiniones .opinion p {
  font-size: 1.3rem;
}

.satisfaccionClientes .satisfaccionClientes__opiniones .opinion p span {
  font-size: 1.4rem;
  font-weight: 800;
}

.clientesFelices__titulo::after,
.clientesFelices__titulo::before {
  content: '';
  position: absolute;
  width: 29.8rem;
  height: 0.10rem;
  background-color: currentColor;
  top: 2rem;
}

.clientesFelices__titulo::after {
  right: -34.8rem;
}

.clientesFelices__titulo::before {
  left: -34.8rem;
}

.cuerpoIndex {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.cuerpoIndex .porqueSNK__item i {
  font-size: 6rem;
  color: #a67453;
}

.cuerpoIndex .videoIndex video {
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 1.5rem 0.2rem #000000;
          box-shadow: 0 0 1.5rem 0.2rem #000000;
  width: 100%;
}

.cuerpoIndex .contenedorMarcas {
  background-color: #f7e4e4;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  padding: 5rem 0;
}

.cuerpoIndex .contenedorMarcas .contenedorTitulo {
  margin-bottom: 2.5rem;
}

.cuerpoIndex .contenedorMarcas .contenedorMarcas__logo {
  margin: 0;
}

.cuerpoIndex .contenedorMarcas .contenedorMarcas__logo img {
  width: 7rem;
  height: 7rem;
}

.cuerpoTienda {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.infoTienda {
  background-color: #f7e4e4;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  padding: 5rem 0;
  text-align: center;
  margin-bottom: 5rem;
}

.infoTienda .contenedorTitulo {
  margin-bottom: 2.5rem;
}

.infoTienda p {
  width: 90%;
  margin: 0 auto;
}

.tituloLogo {
  text-align: center;
  margin-top: 1rem;
}

.tituloLogo img {
  width: 4rem;
  height: 4rem;
}

.contenedorZapatillas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 5rem;
}

.contenedorZapatillas .producto {
  background-color: #ffffff;
  width: 30rem;
  height: 40rem;
  border-radius: 0rem;
  padding: 0;
  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
  border: 1px solid #dbdbdb;
  margin-bottom: 2.5rem;
}

.contenedorZapatillas .producto .producto__img {
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-top: 3rem;
}

.contenedorZapatillas .producto .producto__img .iconoCorazon {
  position: absolute;
  top: 0rem;
  right: 2rem;
  font-size: 2.6rem;
}

.contenedorZapatillas .producto .producto__img .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contenedorZapatillas .producto .producto__img:hover .botones {
  bottom: 0;
}

.contenedorZapatillas .producto .producto__info {
  padding: 1rem 0 0 1rem;
}

.contenedorZapatillas .producto .producto__info .tipoProducto {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

.contenedorZapatillas .producto .producto__info .nombreProducto {
  display: block;
  padding: 0.5rem 0;
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contenedorZapatillas .producto .producto__info .nombreProducto:hover {
  color: #a67453;
}

.contenedorZapatillas .producto .producto__info .precioProducto {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.contenedorZapatillas .producto .producto__info .calificacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0 1.5rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
}

.contenedorZapatillas .producto .producto__info .calificacion .fa-star {
  font-size: 1.2rem;
}

.contenedorZapatillasUno {
  margin-top: 0.5rem;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

.pagination .page-item {
  width: 2.5rem;
}

.pagination .page-item .page-link {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 1.4rem;
  font-weight: 500;
  border: 0.1rem solid #000000;
}

.pagination .page-item .page-link:hover {
  background-color: #000000;
  color: #ffffff;
}

.pagination .page-item:last-child {
  margin-left: 0.5rem;
  width: 10rem;
  text-align: center;
}

.pagination .page-item:first-child {
  margin-right: 0.5rem;
  width: 10rem;
  text-align: center;
}

.pagination .disabled {
  opacity: 40%;
}

.cuerpoFaqs {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  margin-top: 0;
  margin-bottom: 7rem;
}

.cuerpoFaqs .navegacionFaqs {
  background-color: #ffffff;
  width: 80%;
  height: auto;
  border-radius: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 7rem;
  padding-top: 7rem;
}

.cuerpoFaqs .navegacionFaqs .navegacionFaqs__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  margin-bottom: 2.5rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.cuerpoFaqs .navegacionFaqs .navegacionFaqs__logo:last-child {
  margin-bottom: 0rem;
}

.cuerpoFaqs .navegacionFaqs .navegacionFaqs__logo i {
  font-size: 6rem;
  color: #a67453;
  margin-bottom: 1rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.cuerpoFaqs .navegacionFaqs .navegacionFaqs__logo a {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.cuerpoFaqs .navegacionFaqs .navegacionFaqs__logo:hover i {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cuerpoFaqs .preguntas {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.cuerpoFaqs .preguntas:last-child {
  margin-bottom: 0;
}

.cuerpoFaqs .preguntas .preguntas__respuesta {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.cuerpoFaqs .preguntas .preguntas__respuesta p {
  text-align: justify;
  margin-top: 1rem;
}

.cuerpoFaqs .preguntas .preguntas__tabla {
  width: 100%;
}

.cuerpoFaqs .preguntas .preguntas__tabla table,
.cuerpoFaqs .preguntas .preguntas__tabla th,
.cuerpoFaqs .preguntas .preguntas__tabla td {
  margin: 0 auto;
  border: 0.2rem solid #000000;
  border-collapse: collapse;
  width: 30rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.20rem;
  text-align: center;
}

.cuerpoFaqs .preguntas .preguntas__tabla td {
  color: #000000;
  text-align: center;
  font-weight: 500;
  background-color: #ffffff;
}

.cuerpoFaqs .preguntas .preguntas__tabla th {
  color: #000000;
  text-align: center;
  font-weight: 700;
  background-color: #000000;
  color: #ffffff;
}

.cuerpoContacto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.cuerpoContacto .infoContacto {
  background-color: #f7e4e4;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  padding: 5rem 0;
  text-align: center;
  margin-bottom: 5rem;
}

.cuerpoContacto .infoContacto .contenedorTitulo {
  margin-bottom: 2.5rem;
}

.cuerpoContacto .infoContacto p {
  width: 90%;
  margin: 0 auto;
}

.cuerpoContacto .formulario {
  width: 95%;
  margin: 0 auto;
}

.cuerpoContacto .formulario .campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cuerpoContacto .formulario .campo .campo__texto {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0.8rem;
}

.cuerpoContacto .formulario .campo .campo__area {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: #000000;
  margin-bottom: 1.5rem;
  padding: .5rem 2rem;
  border-bottom: 0.15rem solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
}

.cuerpoContacto .formulario textarea {
  resize: none;
  height: 20rem;
}

.cuerpoContacto .formulario .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}

.cuerpoContacto .formulario .checkbox .checkbox__texto {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000000;
}

.cuerpoContacto .formulario .checkbox .checkbox__tilde {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.cuerpoContacto .formulario .contenedorBoton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorWhatsapp {
  background-color: #2e6329;
  position: fixed;
  border: 1px solid #fff;
  z-index: 100;
  border-radius: 50%;
  bottom: 3rem;
  right: 1.2rem;
  padding: .8rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contenedorWhatsapp:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contenedorWhatsapp .botonWhatsapp {
  height: 2.5rem;
}

.contenedorTitulo {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedorTitulo .titulo {
  text-align: center;
  margin: 0 auto;
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

.contenedorTitulo .tituloDos {
  text-align: center;
  margin: 0 auto;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.contenedorTitulo .antes,
.contenedorTitulo .despues {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

.contenedorTitulo .antesDos,
.contenedorTitulo .despuesDos {
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
}

.contenedorTitulo .linea {
  position: relative;
  height: 0.10rem;
  top: 45%;
  background-color: #000000;
}

.contenedorTitulo .linea__uno {
  margin-right: 2rem;
}

.contenedorTitulo .linea__dos {
  margin-left: 2rem;
}

.pie {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.pie .redes {
  border-right: none;
  border-left: none;
  border-top: 0.15rem solid #ffffff;
  border-bottom: none;
  height: 8rem;
  width: 95%;
  padding: 1rem 0 1rem 0;
}

.pie .redes i {
  color: #ffffff;
  font-size: 1.8rem;
  margin-top: 0.5rem;
}

.pie .navFooter a {
  display: inline-block;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.pie .copyright {
  border-left: none;
  border-right: none;
  border-top: 0.15rem solid #ffffff;
  border-bottom: none;
  height: 8rem;
  width: 95%;
  padding: 1rem 0 1rem 0;
}

.subrayadoEnlace {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.subrayadoEnlace:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ffffff;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.subrayadoEnlace:hover:before,
.subrayadoEnlace:focus:before,
.subrayadoEnlace:active:before {
  left: 0;
  right: 0;
}

.aparicionTexto {
  -webkit-animation: aparicionTexto 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: aparicionTexto 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes aparicionTexto {
  0% {
    letter-spacing: 5rem;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes aparicionTexto {
  0% {
    letter-spacing: 5rem;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.agrandarTarjeta {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.agrandarTarjeta:hover {
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
  -webkit-box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.2);
}

.sombraWhatsapp {
  -webkit-animation: sombraWhatsapp 1.2s infinite;
          animation: sombraWhatsapp 1.2s infinite;
}

@-webkit-keyframes sombraWhatsapp {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    -webkit-box-shadow: 0 0 0 1.2rem rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 1.2rem rgba(0, 0, 0, 0);
  }
}

@keyframes sombraWhatsapp {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    -webkit-box-shadow: 0 0 0 1.2rem rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 1.2rem rgba(0, 0, 0, 0);
  }
}

.efectoIcono {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.efectoIcono:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (min-width: 991px) {
  .contenedorGrid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 40rem auto 10rem;
        grid-template-rows: 40rem auto 10rem;
        grid-template-areas: "head head head head" "main   main   main   main" "footer footer footer footer";
  }
  .buscador {
    width: 18rem;
  }
  .headerPaginasFaqs .contenedorH1 h1 {
    top: 33rem;
  }
  .infoTienda p {
    width: 80%;
  }
  .contenedorZapatillas {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 5rem;
  }
  .contenedorZapatillas .producto {
    background-color: #ffffff;
    width: 25rem;
    height: auto;
    border-radius: 0rem;
  }
  .cuerpoFaqs .navegacionFaqs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cuerpoFaqs .navegacionFaqs .navegacionFaqs__logo:last-child {
    margin-bottom: 2.5rem;
  }
  .cuerpoFaqs .preguntas {
    width: 80%;
  }
  .contenedorTitulo {
    width: 70%;
  }
  .contenedorTitulo .titulo {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .contenedorTitulo .antes,
  .contenedorTitulo .despues {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
  }
  .cuerpoContacto .formulario {
    width: 50%;
  }
  .pie .redes {
    border-right: 0.15rem solid #ffffff;
    border-left: none;
    border-top: none;
    border-bottom: none;
  }
  .pie .copyright {
    border-left: 0.15rem solid #ffffff;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
}
/*# sourceMappingURL=style.css.map */